.todoContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}

.todoCreateForm {
    display: flex;
    gap: 5px;
}

.todoInput {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #999;
    font-family: 'Samsung Sans Regular';
    color: black;
}

.buttonCreate {
    border: none;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    color: #fafafa;
    font-size: 14px;
    padding: 10px 20px;
    font-family: 'Samsung Sans Regular';
}

.buttonCreate:hover {
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    cursor: pointer;
}

.todosContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.todo {
    padding: 10px;
    background: none;
}

.todoTitle {
    flex: 1;
    font-size: 20px;
}

.todoUpdateForm,
.todoInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    border: none;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #94ebc1, #25b020);
    background-image: -moz-linear-gradient(top, #94ebc1, #25b020);
    background-image: -o-linear-gradient(top, #94ebc1, #25b020);
    background-image: linear-gradient(to bottom, #94ebc1, #25b020);
    color: #fafafa;
    font-size: 14px;
    padding: 10px 20px;
    font-family: 'Samsung Sans Regular';
}

.buttonDelete {
    background-image: -webkit-linear-gradient(top, #eb94c1, #b02520);
    background-image: -moz-linear-gradient(top, #eb94c1, #b02520);
    background-image: -o-linear-gradient(top, #eb94c1, #b02520);
    background-image: linear-gradient(to bottom, #eb94c1, #b02020);
}

.buttonUpdate:hover {
    background-image: -webkit-linear-gradient(top, #25b020, #94ebc1);
    background-image: -moz-linear-gradient(top, #25b020, #94ebc1);
    background-image: -o-linear-gradient(top, #25b020, #94ebc1);
    background-image: linear-gradient(to bottom, #25b020, #94ebc1);
    cursor: pointer;
}

.buttonDelete:hover {
    background-image: -webkit-linear-gradient(top, #b02520, #eb94c1);
    background-image: -moz-linear-gradient(top, #b02520, #eb94c1);
    background-image: -o-linear-gradient(top, #b02520, #eb94c1);
    background-image: linear-gradient(to bottom, #b02520, #eb94c1);
    cursor: pointer;
}