/* Modo claro */
:root {
  --body-bg: #e6e6e6;
  --body-color: #000;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #282828;
    --body-color: #e6e6e6;
  }
}

body {
  margin: 0;
  font-family: 'Samsung Sans Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-bg);
  color: var(--body-color);
}

@font-face {
  font-family: 'Samsung Sans Regular';
  src: local('Samsung Sans Regular'), url(./fonts/SamsungSans-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}